@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Spartan:wght@100..900&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

body{
    background-color: black ;
}
.main{
    background: url(assests/bg.jpg);
   background-size: max(1000px, 100vw);
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;

}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;

}
nav{
    display: flex;    
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 62px;
}

nav img{
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    
    font-family: "Martel Sans", serif;
    height: calc(100% - 62px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
    padding: 0 30px;
}

.hero > :first-child {
    /* immediate 1st child k liye > sign */
    font-weight: 900;
    font-size: 48px;
    text-align: center;
}
.hero > :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.hero: > :last-child{
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.line{
    height: 5px;
    background-color: rgb(50, 49, 49);
}

.button{
    padding: 3px 8px;
    font-weight: 500;
    background-color: rgba(22, 22, 23, 0.405);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.512);
    border-radius: 4px;
    cursor: pointer;
}

.red{
    background-color: red;
    color: white;
   
}
.email > button{
   
}

.email > input{
    padding: 1rem 4rem 1rem 0.5rem;
    font-size: 14px;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.015);
    border: 1px solid rgba(200, 191, 191, 0.405);
    color: white;
}
.red1{
    background-color: red;
    color: white;
    padding: 0.75rem 1.6rem;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 600;
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;

}
.img{
    position: relative;
}
.img img{
    width: 555px;
    position: relative;
    z-index: 10;
}

.img video{
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :first-child {
    font-size: 48px;
    font-weight: bolder;
}
section.first>div :nth-child(2){
    font-size: 24px;
    
}
section.first>div :last-child {
    font-size: 24px;
}
.faq{
    background-color: black;
    color: white;
    padding: 35px;
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}

.fbox{
    color: white;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 25px;
    width: 100%;
    max-width: 40vw;
    margin: 34px auto;
    cursor: pointer;
    transition: all 1s ease-out ;
}
.fbox:hover{
    background-color: #414141;
    color: white;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

footer .que{
    padding: 34px 0;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}



@media screen and (max-width: 1300px) {

    nav{
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .img img {
        width: 305px;
    }

    .img video {
        width: 305px;
    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
        padding: 75px 0;
    }

    .item{
        align-items: center;
    }
 

}

@media screen and (max-width: 1300px) {

    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }
}


.footer a {
    font-size: 14px;
    color: white;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}